.navbar > div.collapse {background-color: #E08243 !important;}
.navbar > div.collapse {border: 1px solid #000000 !important;}
.caption h4 > a {background-color: #FFFFFF !important;}
.breadcrumb li > a {background-color: #FFFFFF !important;}
